In [18]:
# -*- coding: utf-8 -*-
"""
Spyder Editoraan

This is a temporary script file.
"""

#Import packages
import pandas as pd
import sys
import matplotlib.pyplot as plt
PATH_SYNTH = "G:\Mi unidad\Research\Araucania\code\SyntheticControlMethods-"\
    + "master"
sys.path.insert(0, PATH_SYNTH)
from SyntheticControlMethods import Synth
import os
os.chdir("G:\Mi unidad\Research\scm_earthquakes\code")

INDUSTRY_DATA = r"G:\Mi unidad\Research\Chile and NZ\data\Regional GDP data.xlsx"
SYNTH_VAR_LIST = ['year', 'region', 'id', 'IND_1', 'IND_2',
       'IND_3', 'IND_4', 'IND_5', 'IND_6', 'IND_7', 'IND_8', 'IND_9', 'IND_10',
       'IND_11', 'IND_12', 'GDP', 'population']


#%%
#Import data
def combine_weather_and_population_data():
    '''
    Reads and combines both datasets

    Returns
    -------
    A Dataframe

    '''
    weather = None
    
    return weather
    


def prepare_data():
    df = read_excel_files('G:/Mi unidad/Research/Chile and NZ/data')

    df2 = df[df['Proportion of region\'s total GDP (%)'].isnull()]
    gdppc = df[df['Series name'] == 'Gdp per capita']
    return df

def read_excel_files(directory):
    dfs = []
    for filename in os.listdir(directory):
        if filename.endswith('.xlsx'):
            filepath = os.path.join(directory, filename)
            df = pd.read_excel(filepath, thousands=',')
            dfs.append(df)
    return pd.concat(dfs, ignore_index=True)

#%%

def make_synthetic_control():
    #%%
    df = prepare_data()
    df = df[SYNTH_VAR_LIST]
    df['gdppc'] = df['GDP'] / df['population']
    #Fit classic Synthetic Control
    synth_df = df.drop(['GDP', 'population', 'id'], axis=1)
    sc = Synth(synth_df, "gdppc", "region", "year", 1997, 'Araucania', pen=0)
    
    #Visualize synthetic control
    plt.rcParams.update({'font.size': 20})

    sc.plot(["original", "pointwise", "cumulative"], treated_label="Araucania Region", 
                synth_label="Synthetic Araucania", treatment_label="Lumaco Attack (1997)")
    sc.plot(["original", "pointwise"], treated_label="Araucania Region", 
                synth_label="Synthetic Araucania", treatment_label="Lumaco Attack (1997)")

    sc.plot(["original"], treated_label="Araucania Region", 
                synth_label="Synthetic Araucania", treatment_label="Lumaco Attack (1997)")

    weights = sc.original_data.weight_df
    #Visualize Placebo
    sc.in_space_placebo()
    sc.plot(['rmspe ratio'])
    sc.plot(['in-space placebo'])

In [19]:
df = prepare_data()
df = df[SYNTH_VAR_LIST]

KeyError: "None of [Index(['year', 'region', 'id', 'IND_1', 'IND_2', 'IND_3', 'IND_4', 'IND_5',\n       'IND_6', 'IND_7', 'IND_8', 'IND_9', 'IND_10', 'IND_11', 'IND_12', 'GDP',\n       'population'],\n      dtype='object')] are in the [columns]"

In [5]:
df

,Period,Region,Series name,Data value,Percentage change (%),Proportion of region's total GDP (%)
0,2000,Auckland,Agriculture,182.0,NaN,0.4
1,2001,Auckland,Agriculture,216.0,18.7,0.5
2,2002,Auckland,Agriculture,235.0,8.8,0.5
3,2003,Auckland,Agriculture,170.0,-27.7,0.3
4,2004,Auckland,Agriculture,175.0,2.9,0.3
...,...,...,...,...,...,...
16921,2016,New Zealand,Gdp per capita,54742.0,3.0,NaN
16922,2017,New Zealand,Gdp per capita,56903.0,3.9,NaN
16923,2018,New Zealand,Gdp per capita,59839.0,5.2,NaN
16924,2019,New Zealand,Gdp per capita,61987.0,3.6,NaN
16925,2020,New Zealand,Gdp per capita,64262.0,3.7,NaN

In [21]:
import pandas as pd

file_path = "../data/scm_nz_2011.xlsx"
df = pd.read_excel(file_path)
df

,regioncode,regionname,year,population,Agriculture,"Forestry, fishing, mining, electricity, gas, water, and waste services",Manufacturing,Construction,Wholesale trade,Retail trade,...,sec_ocupation,sec_profesional,sec_public,sec_rental,sec_retail,sec_transport,sec_varios,sec_wholesale,tertiary,tertiary_per
0,1,northland,2000,144200,327.0,213.0,410.0,150.0,76.0,149.0,...,0.100210,0.033637,0.028031,0.060617,0.052207,0.049054,0.074632,0.026629,NaN,NaN
1,1,northland,2001,144400,459.0,232.0,464.0,150.0,108.0,156.0,...,0.090823,0.031536,0.026490,0.058026,0.049196,0.041312,0.073163,0.034059,NaN,NaN
2,1,northland,2002,145300,510.0,243.0,506.0,159.0,128.0,178.0,...,0.085673,0.032456,0.026608,0.054386,0.052047,0.040936,0.071053,0.037427,NaN,NaN
3,1,northland,2003,147000,334.0,247.0,490.0,180.0,74.0,198.0,...,0.088634,0.037685,0.029545,0.062104,0.059692,0.047633,0.074465,0.022309,NaN,NaN
4,1,northland,2004,148800,372.0,212.0,491.0,209.0,99.0,214.0,...,0.087675,0.033894,0.028011,0.067507,0.059944,0.051541,0.059384,0.027731,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,15,southland,2012,95800,1097.0,456.0,697.0,255.0,137.0,197.0,...,0.045986,0.029336,0.020813,0.048365,0.039049,0.044599,0.090387,0.027156,NaN,NaN
251,15,southland,2013,95900,906.0,450.0,654.0,275.0,123.0,205.0,...,0.048740,0.032012,0.021892,0.054729,0.042338,0.047914,0.092937,0.025403,NaN,NaN
252,15,southland,2014,96300,1368.0,475.0,662.0,261.0,158.0,217.0,...,0.044016,0.031102,0.019825,0.049654,0.039469,0.045471,0.086395,0.028738,NaN,NaN
253,15,southland,2015,96900,733.0,491.0,895.0,286.0,142.0,227.0,...,0.047095,0.034549,0.020652,0.053079,0.043814,0.052307,0.094769,0.027408,NaN,NaN
254,16,southland,2016,97700,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
os.getcwd()

'G:\\Mi unidad\\Research\\Chile and NZ\\code'